.Row {
  width: 100%;
  height: auto;
}

/* Portrait */

.Portrait.Handset .Row {
  padding: 8px;
}

.Portrait.Tablet .Row,
.Portrait.Desktop .Row {
  padding: 12px;
}

/* Landscape */

.Landscape.Handset .Row {
  padding: 8px 12px;
}

.Landscape.Tablet .Row,
.Landscape.Desktop .Row {
  padding: 12px;
}
