.Container {
  width: 100%;
  height: auto;
  padding: 16px 8px;
  margin: auto;
}

/* Portrait */

.Portrait.Handset .Container {
  padding: 16px 8px;
}

.Portrait.Tablet .Container,
.Portrait.Desktop .Container {
  padding: 24px 12px;
}

/* Landscape */

.Landscape.Handset .Container {
  padding: 16px 12px;
}

.Landscape.Tablet .Container,
.Landscape.Desktop .Container {
  padding: 24px 12px;
}
