.Container {
  width: 100%;
  height: auto;
  padding: 8px 0;
  margin: auto;
}

/* Portrait */

.Portrait.Handset .Container {
  padding: 8px 0;
}

.Portrait.Tablet .Container,
.Portrait.Desktop .Container {
  padding: 12px 0;
}

/* Landscape */

.Landscape.Handset .Container {
  padding: 8px 0;
}

.Landscape.Tablet .Container,
.Landscape.Desktop .Container {
  padding: 12px 0;
}
