.Container {
  width: 100%;
  height: auto;
  padding: 8px;
  float: none;
  margin: auto;
}

/* Portrait */

.Portrait.Handset .Container {
  padding: 8px;
  margin-top: 56px;
}

.Portrait.Tablet .Container,
.Portrait.Desktop .Container {
  padding: 12px;
  margin-top: 72px;
}

.Portrait.Tablet .Container {
  margin-top: 64px;
}

/* Landscape */

.Landscape.Handset .Container {
  padding: 8px 12px;
  margin-top: 48px;
}

.Landscape.Tablet .Container,
.Landscape.Desktop .Container {
  padding: 12px;
  margin-top: 64px;
}

.Landscape.Tablet .Container {
  margin-top: 56px;
}
