.DrawerNav {
  width: 100%;
  height: 48px;
  background: inherit;
  overflow: hidden;
  padding: 16px;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
}

.DrawerNav.Active {
  background: #455A64;
}

.DrawerNav:hover {
  background: #546E7A;
}

.DrawerNavExpandable .DrawerNav {
  padding: 16px 16px 16px 40px;
}

.Landscape.Handset .DrawerNav,
.Tablet .DrawerNav,
.Desktop .DrawerNav {
  padding: 16px 24px;
}

.Landscape.Handset .DrawerNavExpandable .DrawerNav,
.Tablet .DrawerNavExpandable .DrawerNav,
.Desktop .DrawerNavExpandable .DrawerNav {
  padding: 16px 24px 16px 48px;
}
