/* mobile hidden (default) */

.Drawer {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1600;
}

.Drawer .Drawer-Board {
  width: 320px;
  height: 100%;
  position: absolute;
  left: -320px;
  background: #607D8B;
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  overflow: auto;
  box-shadow: 0 16px 32px rgba(0, 0, 0, .24);
}

.Drawer .Drawer-Board .Drawer-Board-Header {
  width: 100%;
  height: 56px;
  padding: 4px;
  border-bottom: 1px solid rgba(255, 255, 255, .12);
}

.Drawer .Drawer-Board .Drawer-Board-Header .Drawer-Board-Header-Content {
  padding: 12px 4px;
  font-size: 20px;
  color: #FFFFFF;
  cursor: default;
}

.Drawer .Drawer-Board .Drawer-Board-Body {
  width: 100%;
  font-weight: inherit;
}

.Drawer .Drawer-Block {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
}

/* mobile show */

.Drawer.show {
  display: block;
}

.Drawer.show .Drawer-Board {
  left: 0;
}

.Drawer.show .Drawer-Block {
  background: rgba(0, 0, 0, .54);
}

.Portrait.Handset .Drawer .Drawer-Board .Drawer-Board-Header {
  height: 56px;
  padding: 4px;
}

.Portrait.Handset .Drawer .Drawer-Board .Drawer-Board-Header .Drawer-Board-Header-Content {
  padding: 12px 4px;
}

.Portrait.Tablet .Drawer .Drawer-Board .Drawer-Board-Header {
  height: 64px;
  padding: 8px 12px;
}

.Portrait.Tablet .Drawer .Drawer-Board .Drawer-Board-Header .Drawer-Board-Header-Content {
  padding: 12px 12px;
}

.Portrait.Desktop .Drawer .Drawer-Board .Drawer-Board-Header {
  height: 72px;
  padding: 12px;
}

.Portrait.Desktop .Drawer .Drawer-Board .Drawer-Board-Header .Drawer-Board-Header-Content {
  padding: 12px 12px;
}

.Landscape.Handset .Drawer .Drawer-Board .Drawer-Board-Header {
  height: 48px;
  padding: 0 12px;
}

.Landscape.Handset .Drawer .Drawer-Board .Drawer-Board-Header .Drawer-Board-Header-Content {
  padding: 12px;
}

.Landscape.Tablet .Drawer .Drawer-Board .Drawer-Board-Header {
  height: 56px;
  padding: 4px 12px;
}

.Landscape.Tablet .Drawer .Drawer-Board .Drawer-Board-Header .Drawer-Board-Header-Content {
  padding: 12px;
}

.Landscape.Desktop .Drawer .Drawer-Board .Drawer-Board-Header {
  height: 64px;
  padding: 8px 12px;
}

.Landscape.Desktop .Drawer .Drawer-Board .Drawer-Board-Header .Drawer-Board-Header-Content {
  padding: 12px;
}

/* desktop */

.Landscape.Desktop .Drawer {
  display: block;
  width: 320px;
  left: 0;
}

.Landscape.Desktop .Drawer .Drawer-Board {
  left: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .24);
}
