.CardText {
  width: 1000%;
  height: auto;
  padding: 16px;
}

/* Portrait */

.Portrait.Handset .CardText {
  padding: 16px;
}

.Portrait.Tablet .CardText,
.Portrait.Desktop .CardText {
  padding: 24px;
}

/* Landscape */

.Landscape.Handset .CardText {
  padding: 16px;
}

.Landscape.Tablet .CardText,
.Landscape.Desktop .CardText {
  padding: 24px;
}
