.Card {
  width: 100%;
  height: auto;
  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .24);
  cursor: pointer;
}

.Card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, .24);
}
