.CardWrapper {
  width: 100%;
  height: auto;
  padding: 8px;
}

/* Portrait */

.Portrait.Handset .CardWrapper {
  padding: 8px;
}

.Portrait.Tablet .CardWrapper,
.Portrait.Desktop .CardWrapper {
  padding: 16px 8px;
}

/* Landscape */

.Landscape.Handset .CardWrapper {
  padding: 8px;
}

.Landscape.Tablet .CardWrapper,
.Landscape.Desktop .CardWrapper {
  padding: 16px 8px;
}
